<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arpit Fitness</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <header class="topi">
        <!-- for logo -->

        <div class="left">
               <img src="img/blk logo.png" alt="image not" >
               <div>Arpit Fitness</div>
        </div>

        <!-- for search -->

        <div class="mid">
                <ul class="navbar">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Trainers</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
        </div>
        <!-- for nav bar -->

        <div class="right">
            <button class="btn"><a href="/">Log In</a>
                </button>
            <button class="btn"><a href="/signup"> Sign Up</a>
               </button>
        </div>

  

    <div class="container">
     <!-- <h1>Join the Best Gym  Now</h1> -->
     <!-- <form action="mailto:arpitsingh132001@gmail.com"  method="post" enctype="text/plain">
        <div class="form-groum">
            
            <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Age">
        </div>
        <div class="form-groum">
         
            <input type="email" placeholder="Enter Your Email">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Number">
        </div>
        <button class="btn">Submit</button>
      
     </form> -->
<h1>
    SHAPE YOUR PERFECT BODY
</h1>
<p>Nullam posuere at massa id faucibus. Duis in lacus fermentum, volutpat tellus ut, faucibus nulla. Maecenas dictum neque velit, vitae porta arcu vehicula venenatis. Donec purus metus</p>

    </div>
</header>
    <div class="middle">
      <!-- <img src="img/runner.png" alt=""> -->
      <img class="mimg" src="img/treadmill-machine.png" alt="">

     
        <h2>Let Us Find The Perfect Workout For You !</h2>
        <img  class="Dot" src="http://zcube.in/hitup/img/bg/circle-line.png" alt="">
        <p>Fusce orci ligula, tincidunt ut metus vel, venenatis aliquet tortor. Duis et consequat enim. Curabitur pulvinar, dolor at pulvinar molestie, augue massa volutpat felis, at rhoncus tortor velit vel diam. Cras ac suscipit metus
      Etiam fermentum ex orci, a ullamcorper erat tempor in. Nulla est ante, ullamcorper vitae dui vel, molestie feugiat sapie
     Integer auctor est nec semper hendrerit. Etiam sollicitudin enim in urna commodo, in dapibus velit elementum. Ut congue nisl sapien, vel ultricies nulla tincidunt vitae. Maecenas non ligula quis massa consequat commodo eleifend ut velit. Vestibulum molestie nunc non libero posuere, quis pellentesque massa tempus.</p>
     
    
    </div>
    <div class="middle">
      <!-- <img src="img/runner.png" alt=""> -->
      <img class="nimg" src="img/runner.png" alt="">

     
        <h2 class="spara">Let Us Find The Perfect Workout For You !</h2>
        <img  class="Dot" src="http://zcube.in/hitup/img/bg/circle-line.png" alt="">
        <p>Fusce orci ligula, tincidunt ut metus vel, venenatis aliquet tortor. Duis et consequat enim. Curabitur pulvinar, dolor at pulvinar molestie, augue massa volutpat felis, at rhoncus tortor velit vel diam. Cras ac suscipit metus
      Etiam fermentum ex orci, a ullamcorper erat tempor in. Nulla est ante, ullamcorper vitae dui vel, molestie feugiat sapie
     Integer auctor est nec semper hendrerit. Etiam sollicitudin enim in urna commodo, in dapibus velit elementum. Ut congue nisl sapien, vel ultricies nulla tincidunt vitae. Maecenas non ligula quis massa consequat commodo eleifend ut velit. Vestibulum molestie nunc non libero posuere, quis pellentesque massa tempus.</p>
     
    </div>
            
                 <!-- about section  -->

    <div class="about">
       <div class="about-box">
        <h1>ABOUT <span>Arpit Fitness</span>
        </h1>
      
        <p class="about-para">Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta. Duis purus sapien, blandit non sem quis, mollis vehicula sapien. Fusce mollis mauris vitae enim varius scelerisque id id ex. Maecenas vel iaculis purus, a ornare quam.</p>
        <p class="about-para">Sed a mi mattis, posuere mauris et, mollis lacus. Vivamus in imperdiet libero, at dapibus eros. In varius lacinia gravida. Aenean dignissim nulla nibh, a laoreet ligula fermentum sit amet.</p>
       </div>

        <div class="about-imggg">
            <img src="img/about-img.png" alt="about" srcset="">
        </div>
    </div>

  

<!--             course section  -->

    <div class="courses">
        <div class="cour1">
            <h2>OUR
                <span>COURESES
                </span>
            </h2>
            <p>Quisque ullamcorper ex non leo blandit porta. Duis purusue ullamcorper ex non leo blandit porta. Duis purus sapien, blandisue ullamcorper ex non leo blandit porta. .</p>
        </div>

        <div class="box">
            <div class="box1">
                
                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-1.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Kettlebells Course</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>

            </div>


            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-2.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>WEIGHTLIFTING</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>

            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-3.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>ADVANCED GYMNASTIC</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>


            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-4.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Meditation</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>


            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-5.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Martial Arts</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>


            </div>

            <div class="box1">

                <div class="course-img">
                    <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/courses-img-6.png" alt="NO IMG">
                </div>

                <div class="course-content">
                    <h3>Running</h3>
                    <p>Morbi commodo sapien at risus aliquam dapibus. Quisque ullamcorper ex non leo blandit porta.</p>
                </div>
            </div>
        </div>
    </div>


                <!-- OUR Trainers -->


                
    <div class="Trainers">
        <div class="train1">
            <h2>OUR
                <span>TRAINERS
                </span>
            </h2>
            <p>Quisque ullamcorper ex non leo blandit porta. Duis purusue ullamcorper ex non leo blandit porta. Duis purus sapien, blandisue ullamcorper ex non leo blandit porta. .</p>
        </div>

        <div class="tra">
            <div class="men">

                <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/trainer-img-1.png" alt="tra">

            </div>

            <div class="men">
                <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/trainer-img-2.png" alt="tra">

            </div>

            <div class="men">
                <img src="http://netizensstore.com/gymfit_theme/html/multipage_6/assets/img/main-page/trainer-img-3.png" alt="tra">

            </div>

        </div>




    </div>


    <div class="contact">
        <div class="cont">
            <h2>CONTACT
                <span>WITH US
                </span>
            </h2>
            <!-- <p>Quisque ullamcorper ex non leo blandit porta. Duis purusue ullamcorper ex non leo blandit porta. Duis purus sapien, blandisue ullamcorper ex non leo blandit porta. .</p> -->

            <div class="form">
      <h2>Join the Best Gym  Now</h2>


     <form action="mailto:arpitsingh132001@gmail.com"  method="post" enctype="text/plain">
        <div class="form-groum">
            
            <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Age">
        </div>
        <div class="form-groum">
         
            <input type="email" placeholder="Enter Your Email">
        </div>
        <div class="form-groum">
           
            <input type="text" placeholder="Enter Your Number">
        </div>
        <button class="btn">Submit</button>

      
     </form>
    </div>

        </div>

     </div>

</body>

</html>