<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="main flex">

    <div class="section">

    <div class="image">
        <img src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png" alt="not load" srcset="" width="220px">
    </div>

    <div class="innermain">

 
    <h2 >Member Login</h2>

    <form action="/login" method="post">
        <div class="name">
           
        <input  type="text" name="name" placeholder="Name"  >
        <br>
        <input type="password" name="password" placeholder="password">
        </div>
       
        <input class="btn" type="submit">
        <br>
        <br>
    
    </form>

    <div class="bt">
    <a href="/signup" >Create New Account </a>

    </div>


       </div>
</div>

       </div>
</body>

<script src="https://kit.fontawesome.com/4018fc5aa3.js" crossorigin="anonymous"></script>
</html>