<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>

<div class="main flex">

     <div class="section">

           <div class="image">
        <img src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png" alt="not load" srcset="" width="220px">
    </div>

     <div class="innermain">
    <h2>Sign Up Now</h2>

    <form action="/signup" method="post">
        <div class="name">
        <input type="text" name="name" placeholder="Name">
        <br>
        <input type="password" name="password" placeholder="Password" id="pass">
        <br>
        <input type="password" name="confirm" placeholder="Confirm Password" id="pass">
      </div>
        <input class="btn" type="submit">
    
    </form>

    </div>

    </div>

    </div>
</body>
</html>